<h1>People#index</h1>
<p>Find me in app/views/people/index.html.erb</p>

<h1>Funfou !!</h1>

<%= @nome %>
<br>
<%= @idade %>
<br>
<%= @numeros %>

<br><br>

<% for num in @numeros %>
	<%= num %>
	<br>
<% end %>

<br><br>
<%= quantidade_multiplos_de_dois %>

<br><br>
<%= multiplos(2) %>

<br><br>
<%= @pessoa %>
